<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang home</h1>
        <p>Tran nay hien thi danh sach cac san pham</p>
        <p>Cac ban co the chon xem san pham va mua hang tai day</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tim san pham" />
        <select class="form-control product-category">
            <option selected disabled>Danh muc san pham</option>
            <option>Do dien tu</option>
            <option>Hai san</option>
            <option>Banh keo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/12877878/pexels-photo-12877878.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Product Image" class="product-image">
                <h1 class="product-name">Product 1</h1>
                <p class="product-description">Mô tả sản phẩm: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$300</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="prodcut-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/12877878/pexels-photo-12877878.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Product Image" class="product-image">
                <h1 class="product-name">Product 1</h1>
                <p class="product-description">Mô tả sản phẩm: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$300</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="prodcut-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/12877878/pexels-photo-12877878.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Product Image" class="product-image">
                <h1 class="product-name">Product 1</h1>
                <p class="product-description">Mô tả sản phẩm: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$300</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="prodcut-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/12877878/pexels-photo-12877878.jpeg?auto=compress&cs=tinysrgb&w=300"
                    alt="Product Image" class="product-image">
                <h1 class="product-name">Product 1</h1>
                <p class="product-description">Mô tả sản phẩm: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$300</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="prodcut-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>